@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: black; */
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}


/* // add the code bellow */
@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

@layer base {
  :root {
    --text-color-base: #000;
    --text-color-text-light: #777777;
    --text-color-text-base: #000 ;
    --text-color-background: #FFFFF7;
    --text-color-background-light: #030303;
    --text-color-background-hover: #f97316;
    --text-color-main: #febd69;
    --text-color-light: #232f3e;

    --color-base: #000000;
    --color-text-light: #777777;
    --color-text-base: #1c1b1b;
    --color-background: #fffff7; 
    --color-background-light: #030303;
    --color-background-hover: #f97316;
    --color-main: #febd69;
    --color-light: #232f3e;
  }

  .dark {
    --text-color-base: #fff;
    --text-color-text-light: #777777;
    --text-color-text-base: #1c1b1b;
    --text-color-background: #FFFFF7;
    --text-color-background-light: #030303;
    --text-color-background-hover: #f97316;
    --text-color-main: #febd69;
    --text-color-light: #232f3e;

    --color-base: #ffffff;
    --color-text-light: #777777;
    --color-text-base: #1c1b1b;
    --color-background: #000000; 
    --color-background-light: #030303;
    --color-background-hover: #232f3e;
    --color-main: #febd69;
    --color-light: #f97316 ;
  }
}